<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>99p.dev</title>
</head>
<body>
  <h1>99p.dev</h1>
  <h2>portfolio</h2>
  <a href="https://blog.99p.dev">blog</a>
  <a href="https://ponpon.app">ponpon.app</a>

  <section id="about-me">
  <h2>about me</h2>
  <dt>name</dt>
  <dd>ponponboy</dd>
  <dt>birth</dt>
  <dd>1985年7月30日</dd>
  <dt>city</dt>
  <dd>茨城県守谷市</dd>
  <dt>hobby</dt>
  <dd>サウナ（水風呂）・水シャワー・ケバブ食べ・PCゲーム</dd>
  <dt>skill</dt>
  <dd>python・django</dd>
  <dt>email</dt>
  <dd>poccori@gmail.com</dd>
  <dt>github</dt>
  <dd><a href="https://github.com/99p">99p</a></dd>
</body>
</html>
